.connectwisemanage_add_dialog{
    padding:15px;
}

#connectwisemanage_loadingnotification{
    font-weight: 700;
    text-align: center;
    padding:15px;
    margin-bottom:1rem;
    height:auto;
    opacity:1;
    transition: height 5s linear;
}

#connectwisemanage_loadingnotification.animatedhide{
    opacity:0;
    height:0;
}